{% include "header.html" %}

<div class="container">
    <div class="row m-y-2">
        <!-- Edit form column -->
        <div class="col-lg-4 text-lg-center">
            <h2>Edit Profile</h2>
        </div>

        <div class="col-lg-8"></div>
        
        <!-- Profile Edit Form -->
        <div class="col-lg-8 push-lg-4 personal-info">
            <form role="form" action="" method="post" enctype="multipart/form-data">
                <!-- First Name -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">First Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{ user_information['first_name'] }}" name="first_name" required />
                    </div>
                </div>

                <!-- Last Name -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Last Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{ user_information['last_name'] }}" name="last_name" required />
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="{{ user_information['email'] }}" name="email" required />
                    </div>
                </div>

                <!-- Username -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{ user_information['username'] }}" name="username" required />
                    </div>
                </div>

                <!-- Birth Date -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Birth Date</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="date" value="{{ user_information['birth_date'] }}" name="birth_date" required />
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">New Password</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="password" name="password" placeholder="Leave blank to keep current password" />
                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Confirm Password</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="password" name="password2" placeholder="Confirm the new password" />
                    </div>
                </div>

                <!-- Submit Buttons -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="submit" class="btn btn-primary" value="Save Changes" />
                        <input type="reset" class="btn btn-secondary" value="Reset" />
                    </div>
                </div>
            </form>
        </div>

        <!-- Profile Picture Section -->
        <div class="col-lg-4 pull-lg-8 text-xs-center">
            <img src="data:image/png;base64, {{ user_information['avatar'] }}" class="m-x-auto img-fluid" style="height: 250px;width: 250px;" alt="avatar" />
            <h6 class="m-t-2">Upload a photo</h6>
            <label class="custom-file">
                <span class="custom-file-control">Choose file</span>
            </label>
            <input type="file" class="form-control" name="avatar">
        </div>
    </div>
</div>

<hr />
