{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider Example</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- FlexSlider CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="static/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>

<!-- Slider Section -->
<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url({{ url_for('static',filename='img/c1.jpg') }});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>The Roots of Education are Bitter, But the Fruit is Sweet</h1>
                                <h2>From the Kazakhstan team</h2>
                                <p><a class="btn btn-primary btn-lg" href="{{ url_for('courses') }}">Start Learning Now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({{ url_for('static',filename='img/c2.jpg') }});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>The Roots of Education are Bitter, But the Fruit is Sweet</h1>
                                <h2>From the Kazakhstan team</h2>
                                <p><a class="btn btn-primary btn-lg btn-learn" href="{{ url_for('courses') }}">Start Learning Now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({{ url_for('static',filename='img/c4.jpg') }});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>The Roots of Education are Bitter, But the Fruit is Sweet</h1>
                                <h2>From the Kazakhstan team</h2>
                                <p><a class="btn btn-primary btn-lg btn-learn" href="{{ url_for('courses') }}">Start Learning Now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({{ url_for('static',filename='img/c3.jpg') }});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>The Roots of Education are Bitter, But the Fruit is Sweet</h1>
                                <h2>From the Kazakhstan team</h2>
                                <p><a class="btn btn-primary btn-lg btn-learn" href="{{ url_for('courses') }}">Start Learning Now!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- Charts Section -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for i in charts %}
                <h5 style="color: #060547; font-family: sans-serif; margin-top: 20px;">{{ i[0] }}</h5>
                <div class="progress">
                    <div class="progress-bar" style="width:{{ i[2] }}%; background-color: #ed2d2d;">
                        {{ i[0] }}&nbsp;{{ i[2] }}%
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider-min.js"></script>
<script>
    $(document).ready(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: true,
            directionNav: false,
            slideshowSpeed: 5000,
            animationSpeed: 600
        });
    });
</script>

</body>
</html>
